/* Utility */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
    text-decoration: none;
}

ul {
    list-style-type: none;
}



/* Header */

.header { 
    /* max-width: 1200px;
    min-width: 342px; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding-top: 8px;
}

.nav {
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    margin-left: 24px;
}

/* Hero */

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 32px;
}

.hero-container  {
    max-width: 1140px;
    display: flex;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.right img {
    max-width: 500px;
    max-height: 250px;
}

